<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Pet Management</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex min-vh-100">
        <!-- Sidebar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 350px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <h1 class="navbar-brand">Vet Care</h1>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto custom-sidebar">
                <li class="nav-item">
                    <a href="/account" class="nav-link userDashboard" aria-current="page">
                        <i class="bi bi-house-door"></i>
                        User Dashboard
                    </a>
                </li>
                <li>
                    <a href="/dashboard/appointment-management" class="nav-link text-white">
                        <i class="bi bi-calendar-check me-2"></i>
                        Appointment Management
                    </a>
                </li>
                <li>
                    <a href="/dashboard/prescription-management" class="nav-link text-white">
                        <i class="bi bi-file-earmark-medical me-2"></i>
                        Prescription Management
                    </a>
                </li>
                <li>
                    <a href="/dashboard/pet-management" class="nav-link text-white">
                        <i class="bi bi-heart me-2"></i>
                        Pet Management
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown mt-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>

        <!-- Main Content on the right -->
        <div class="flex-grow-1 dashboard-content">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-8 text-black account-details fs-5">
                        <h2 class="bg-body-tertiary p-2 border-top border-bottom">Pet List</h2>

                        <div class="row border-bottom p-3">
                            <div class="col-lg-9">
                                <div class="fw-bold">Pet Name: Fluffy</div>
                                <div>Age: 4</div>
                                <div>Gender: Female</div>
                                <div>Weight: 15 kg</div>
                                <div>Breed: British Short Hair</div>
                                <div>Birthdate: 12/4/2015</div>
                            </div>
                            <!--                            <div class="col-lg-3 text-end">-->
                            <!--                                <span class="badge bg-success">Attended</span>-->
                            <!--                                &lt;!&ndash;                                <button class="btn btn-info mt-2">View</button>&ndash;&gt;-->
                            <!--                            </div>-->
                        </div>

                        <div class="row border-bottom p-3">
                            <div class="col-lg-9">
                                <div class="fw-bold">Pet Name: Bentley</div>
                                <div>Age: 2</div>
                                <div>Gender: Male</div>
                                <div>Weight: 10 kg</div>
                                <div>Breed: Beagle</div>
                                <div>Birthdate: 20/10/2022</div>
                            </div>
                            <!--                            <div class="col-lg-3 text-end">-->
                            <!--                                <span class="badge bg-danger">Cancelled</span>-->
                            <!--                            </div>-->
                        </div>

                        <div class="row border-bottom p-3">
                            <div class="col-lg-9">
                                <div class="fw-bold">Pet Name: Georgie</div>
                                <div>Age: 7</div>
                                <div>Gender: Male</div>
                                <div>Weight: 8 kg</div>
                                <div>Breed: Tabby</div>
                                <div>Birthdate: 12/4/2014</div>
                            </div>
                        </div>

                        <!--                        Buttons -->
                        <div class="text-center mt-4">
                            <button class="btn btn-primary mx-3 p-4">Add New Pet</button>
                            <button class="btn btn-secondary mx-3 p-4">Edit Pet</button>
                            <button class="btn btn-danger mx-3 p-4">Delete Pet</button>
                        </div>
                    </div>

                    <!--                        </div>-->
                    <!--                            Pet Details-->
                    <!--                        <div class="pet-details mt-4 card p-4">-->
                    <!--                            <h3>Pet Details</h3>-->
                    <!--                            <div id="pet-details-container" class="border rounded p-3">-->
                    <!--                                &lt;!&ndash;                                The comment line can be used when adding backend&ndash;&gt;-->
                    <!--                                &lt;!&ndash;                                <div  class="summary-section" th:if="${pet != null}">&ndash;&gt;-->
                    <!--                                <div class="summary-section">-->
                    <!--                                    <table class="table table-striped">-->
                    <!--                                        <tbody>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Name</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.name}">-</td>&ndash;&gt;-->
                    <!--                                            <td>Fluffy</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Age</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.age}">-</td>&ndash;&gt;-->
                    <!--                                            <td>12</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Gender</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.gender}">-</td>&ndash;&gt;-->
                    <!--                                            <td>Female</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Weight</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.weight}">-</td>&ndash;&gt;-->
                    <!--                                            <td>15kg</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Breed</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.breed}">-</td>&ndash;&gt;-->
                    <!--                                            <td>British Short Hair</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Birth Date</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.birthDate}">-</td>&ndash;&gt;-->
                    <!--                                            <td>12/4/2015</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Owner Name</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.ownerName}">-</td>&ndash;&gt;-->
                    <!--                                            <td>Jane</td>-->
                    <!--                                        </tr>-->
                    <!--                                        <tr>-->
                    <!--                                            <th scope="row">Owner Contact</th>-->
                    <!--                                            &lt;!&ndash;                                            <td th:text="${pet.ownerContact}">-</td>&ndash;&gt;-->
                    <!--                                            <td>Jane</td>-->
                    <!--                                        </tr>-->
                    <!--                                        </tbody>-->
                    <!--                                    </table>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->

                    <!--                        &lt;!&ndash;                        Button to add new pet&ndash;&gt;-->
                    <!--                        <div class="add-pet mt-4 card p-4">-->
                    <!--                            <button class="btn btn-primary" id="add-pet-button" data-bs-toggle="modal"-->
                    <!--                                    data-bs-target="#addPetModal">Add New Pet-->
                    <!--                            </button>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--                &lt;!&ndash; Modal for Add New Pet &ndash;&gt;-->
                    <!--                <div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addPetModalLabel"-->
                    <!--                     aria-hidden="true">-->
                    <!--                    <div class="modal-dialog">-->
                    <!--                        <div class="modal-content">-->
                    <!--                            <div class="modal-header">-->
                    <!--                                <h5 class="modal-title" id="addPetModalLabel">Add New Pet</h5>-->
                    <!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
                    <!--                                        aria-label="Close"></button>-->
                    <!--                            </div>-->
                    <!--                            <div class="modal-body">-->
                    <!--                                <form id="add-pet-form">-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petName">Pet Name:</label>-->
                    <!--                                        <input type="text" class="form-control" id="petName"-->
                    <!--                                               placeholder="Enter pet name" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petType">Pet Type:</label>-->
                    <!--                                        <input type="text" class="form-control" id="petType"-->
                    <!--                                               placeholder="Enter pet type" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petAge">Pet Age:</label>-->
                    <!--                                        <input type="number" class="form-control" id="petAge"-->
                    <!--                                               placeholder="Enter pet age" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petGender">Pet Gender:</label>-->
                    <!--                                        <select class="form-control" id="petGender" required>-->
                    <!--                                            <option value="Male">Male</option>-->
                    <!--                                            <option value="Female">Female</option>-->
                    <!--                                        </select>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petWeight">Pet Weight:</label>-->
                    <!--                                        <input type="text" class="form-control" id="petWeight"-->
                    <!--                                               placeholder="Enter pet weight" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petBreed">Pet Breed:</label>-->
                    <!--                                        <input type="text" class="form-control" id="petBreed"-->
                    <!--                                               placeholder="Enter pet breed" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="petBirthDate">Birth Date:</label>-->
                    <!--                                        <input type="date" class="form-control" id="petBirthDate" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="ownerName">Owner Name:</label>-->
                    <!--                                        <input type="text" class="form-control" id="ownerName"-->
                    <!--                                               placeholder="Enter owner name" required>-->
                    <!--                                    </div>-->
                    <!--                                    <div class="form-group">-->
                    <!--                                        <label for="ownerContact">Owner Contact:</label>-->
                    <!--                                        <input type="text" class="form-control" id="ownerContact"-->
                    <!--                                               placeholder="Enter owner contact" required>-->
                    <!--                                    </div>-->
                    <!--                                    <button type="submit" class="btn btn-primary mt-3">Submit</button>-->
                    <!--                                </form>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->
                    <!--                &lt;!&ndash; Modal for Confirmation &ndash;&gt;-->
                    <!--                <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"-->
                    <!--                     aria-hidden="true">-->
                    <!--                    <div class="modal-dialog">-->
                    <!--                        <div class="modal-content">-->
                    <!--                            <div class="modal-header">-->
                    <!--                                <h5 class="modal-title" id="confirmationModalLabel">Pet Added</h5>-->
                    <!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
                    <!--                                        aria-label="Close"></button>-->
                    <!--                            </div>-->
                    <!--                            <div class="modal-body">-->
                    <!--                                <p>Your pet has been successfully added!</p>-->
                    <!--                            </div>-->
                    <!--                            <div class="modal-footer">-->
                    <!--                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                    <!--                            </div>-->
                    <!--                        </div>-->


                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>