<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Prescription Management</title>
    <link rel="stylesheet" th:href="@{/assets/css/dashboard.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex min-vh-100">
        <!-- Sidebar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 380px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <h1 class="navbar-brand">Vet Care</h1>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto custom-sidebar">
                <li class="nav-item">
                    <a href="/account" class="nav-link userDashboard" aria-current="page">
                        <i class="bi bi-house-door"></i>
                        User Dashboard
                    </a>
                </li>
                <li>
                    <a href="/dashboard/appointment-management" class="nav-link text-white">
                        <i class="bi bi-calendar-check me-2"></i>
                        Appointment Management
                    </a>
                </li>
                <li>
                    <a href="/dashboard/prescription-management" class="nav-link text-white">
                        <i class="bi bi-file-earmark-medical me-2"></i>
                        Prescription Management
                    </a>
                </li>
                <li>
                    <a href="/dashboard/pet-management" class="nav-link text-white">
                        <i class="bi bi-heart me-2"></i>
                        Pet Management
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown mt-auto">
                <!-- Dropdown toggle button with user name -->
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                   id="dropdownUser"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <strong th:text="${loggedInUser.name}">User Name</strong>
                </a>

                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li th:if="${loggedInUser != null}">
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Main Content on the right -->
        <div class="flex-grow-1 dashboard-content">
            <div class="container mt-5">
                <!--Breadcrum for Dashboard-->
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4 fs-5">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item" th:if="${loggedInUser != null}"><a
                                        href="/dashboard/prescription-management">Prescription Management</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Prescription Management</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- Main Content -->
                <div class="container">
                    <h2 class="prescription-header p-4 mb-4 align-items-center border-top border-bottom">
                        Prescription Management</h2>
                    <div class="prescription-refill">
                        <h3 class="prescription-section-header">Request Prescription Refill</h3>
                        <form id="refillForm">
                            <div class="form-group">
                                <!-- Pet Selection Dropdown -->
                                <div class="pet-selection mb-4">
                                    <form th:action="@{/viewMedicalRecord}" method="get">
                                        <div class="form-group">
                                            <label for="petSelect">Pet's Name</label>
                                            <select class="form-select" id="petSelect" name="petId"
                                                    onchange="this.form.submit()">
                                                <option value="" selected>Select a Pet</option>
                                                <option th:each="pet : ${pets}" th:value="${pet.petID}"
                                                        th:text="${pet.name}"></option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="medication">Medication</label>
                                <input type="text" id="medication" name="medication" class="form-control"
                                       placeholder="Enter the medication name" required>
                            </div>
                            <!--                            <div class="form-group">-->
                            <!--                                &lt;!&ndash;                                <label for="deliveryAddress">Delivery Address</label>&ndash;&gt;-->
                            <!--                                &lt;!&ndash;                                <textarea id="deliveryAddress" name="deliveryAddress" class="form-control" placeholder="Enter delivery address" rows="4" required></textarea>&ndash;&gt;-->
                            <!--                                <div data-mdb-input-init class="form-outline mb-4">-->
                            <!--                                    <label class="form-label" for="deliveryAddress">Delivery Address</label>-->
                            <!--                                    <textarea id="deliveryAddress" name="deliveryAddress"-->
                            <!--                                              class="form-control form-control-lg" placeholder="Enter delivery address"-->
                            <!--                                              rows="4" required></textarea>-->

                            <!--                                </div>-->

                            <div class="form-group">
                                <!-- Address input field -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="deliveryAddress">Delivery Address</label>
                                    <input type="text" id="deliveryAddress" name="deliveryAddress"
                                           class="form-control form-control-lg" placeholder="Enter delivery address"
                                           required/>
                                </div>

                                <!-- State, City, and Postcode in one row -->
                                <div class="row">
                                    <!-- State dropdown -->
                                    <div class="col-md-4 mb-4">
                                        <label class="form-label" for="state">State</label>
                                        <select id="state" name="state" class="form-control form-control-lg" required>
                                            <option disabled selected>Select State</option>
                                            <option value="VIC">VIC</option>
                                            <option value="NSW">NSW</option>
                                            <option value="QLD">QLD</option>
                                            <option value="SA">SA</option>
                                            <option value="WA">WA</option>
                                            <option value="TAS">TAS</option>
                                            <option value="ACT">ACT</option>
                                            <option value="NT">NT</option>
                                        </select>
                                    </div>

                                    <!-- City input field -->
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label" for="city">City</label>
                                            <input type="text" id="city" name="city"
                                                   class="form-control form-control-lg" placeholder="Enter city"
                                                   required/>
                                        </div>
                                    </div>

                                    <!-- Postcode input field -->
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label" for="postcode">Postcode</label>
                                            <input type="number" id="postcode" name="postcode"
                                                   class="form-control form-control-lg" placeholder="Enter postcode"
                                                   required/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--                                <div data-mdb-input-init class="form-outline mb-4">-->
                            <!--                                    <label class="form-label" for="zip">Zip</label>-->
                            <!--                                    <input type="text" id="zip" class="form-control form-control-lg"/>-->
                            <!--                                </div>-->

                            <!--                            </div>-->
                            <button type="submit" class="btn-prescription-submit">Request Refill</button>
                        </form>
                    </div>
                    <div class="prescription-medication-info">
                        <h3>Your Pet's Medication Details</h3>
                        <p><span>Medication Name:</span> Fidozol 50mg</p>
                        <p><span>Dosage:</span> 1 tablet twice a day</p>
                        <p><span>Instructions:</span> Give with food. Avoid breaking the tablet. Ensure your pet drinks
                            plenty of water after taking the medication.</p>
                        <p><span>Next Refill Available:</span> 2024-10-15</p>
                    </div>
                    <div class="prescription-tracking-map">
                        <h3>Track Your Prescription Delivery</h3>
                        <div id="map"></div>
                    </div>
                    <div class="text-center">
                        <a href="/" class="btn-back">Back to Home Page</a>
                    </div>
                </div>

                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&callback=initMap"></script>

            </div>
        </div>
    </div>
</div>
</body>
</html>