<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>HomePage</title>
</head>

<body>
<div layout:fragment="content">
    <!-- Carousel -->
    <!--    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">-->
    <!--        &lt;!&ndash; Indicators &ndash;&gt;-->
    <!--        <div class="carousel-indicators">-->
    <!--            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
    <!--            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
    <!--        </div>-->

    <!--        &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--        <div class="carousel-inner container-fluid bg-light p-5">-->
    <!--            <div class="carousel-item active row align-items-center">-->
    <!--                <div class="col-md-6">-->
    <!--                    <h1 class="display-4 fw-bold">Special care for your best friend</h1>-->
    <!--                    <p class="lead">The best in veterinary care, from check-ups to emergency services. Bringing love and care to your pets.</p>-->
    <!--                    <a href="#" class="btn btn-primary btn-lg">Book an Appointment</a>-->
    <!--                </div>-->
    <!--                <div class="col-md-6 text-center">-->
    <!--                    <img src="https://via.placeholder.com/500x400?text=Vet+Image" alt="Vet Image" class="img-fluid">-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            <div class="carousel-item">-->
    <!--                <img src="https://placehold.it/1200x400?text=Another Image Maybe" class="d-block w-100" alt="Image">-->
    <!--                <div class="carousel-caption d-none d-md-block">-->
    <!--                    <h3>More Sell $</h3>-->
    <!--                    <p>Lorem ipsum...</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        &lt;!&ndash; Left and right controls &ndash;&gt;-->
    <!--        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">-->
    <!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <!--            <span class="visually-hidden">Previous</span>-->
    <!--        </button>-->
    <!--        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">-->
    <!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <!--            <span class="visually-hidden">Next</span>-->
    <!--        </button>-->
    <!--    </div>-->
    <!-- Hero Section -->
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container-fluid py-0">
            <div class="row g-0">
                <div class="col-lg-6 d-flex align-items-center justify-content-center hero-text">
                    <div>
                        <h1>Your Pet's Health is Our Priority</h1>
                        <p>Providing exceptional care and treatment for your beloved pets.</p>
                        <a href="#" class="btn btn-custom btn-lg mt-4">Book an Appointment</a>
                    </div>
                </div>
                <div class="col-lg-6 hero-image">
                    <img src="/assets/images/image02.jpg" alt="VetImage" class="img-fluid">
                </div>
            </div>
        </div>
    </section>


    <!-- Services Section -->
    <div class="container text-center my-2">
        <h2 class="mt-4">Our Services</h2><br>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; margin: 10px 10px 10px">
                    <img src="/assets/images/service01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Find a clinic</h5>
                        <p class="card-text">We could be just next door!</p>
                        <a href="#" class="btn card-button">More Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; margin: 10px 10px 10px">
                    <img src="/assets/images/service02.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Appointment Booking</h5>
                        <p class="card-text">Secure a spot!</p>
                        <a href="#" class="btn card-button">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; margin: 10px 10px 10px">
                    <img src="/assets/images/service03.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Medical Record</h5>
                        <p class="card-text">Keep track of your pet's health with us</p>
                        <a href="#" class="btn card-button">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
