<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <title>Layout page</title>-->
<!--    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />-->
<!--    <link th:href="@{/assets/css/main.css}" rel="stylesheet">-->
<!--    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">-->
<!--    <div class="container">-->
<!--        <a class="navbar-brand" href="/">VetCare</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav ms-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" href="/">Home</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/resources">Resources</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown" th:if="${loggedInUser != null && userType == 'User'}">-->
<!--                    <button class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Medical Access-->
<!--                    </button>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--                        <li><a class="dropdown-item" href="/access-medical-records">Access Medical Record</a></li>-->
<!--                        <li><a class="dropdown-item" href="/view-vaccination-records">View Vaccination Records</a></li>-->
<!--                        <li><a class="dropdown-item" href="/view-treatment-plan">View Treatment Plan</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item" th:if="${loggedInUser != null}">-->
<!--                    <a class="nav-link" href="/account">Dashboard</a>-->
<!--                </li>-->
<!--                <li class="nav-item" th:if="${loggedInUser != null}">-->
<!--                    <form th:action="@{/logout}" method="post" style="display: inline;">-->
<!--                        <button type="submit" class="nav-link btn btn-link">Logout</button>-->
<!--                    </form>-->
<!--                </li>-->
<!--                <li class="nav-item" th:if="${loggedInUser == null}">-->
<!--                    <a class="nav-link" href="/login">Login</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--<div id="content">-->
<!--    <div class="main-content">-->
<!--        <div layout:fragment="content">-->
<!--            &lt;!&ndash; content &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<footer class="container-fluid text-center py-3 mt-5 footer-style">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <p>Contact Us: +123 456 789</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <p>© 2024 VetCare. All rights reserved.</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <p>Follow Us:-->
<!--                <a href="#" class="social-icon">Facebook</a> |-->
<!--                <a href="#" class="social-icon">Instagram</a> |-->
<!--                <a href="#" class="social-icon">Twitter</a>-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Layout page</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">VetCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <!-- Conditional rendering based on userType and loggedInUser -->
                <li class="nav-item dropdown" th:if="${loggedInUser != null && userType == 'User'}">
                    <button class="nav-link dropdown-toggle" id="dropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Medical Access
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/access-medical-records">Access Medical Record</a></li>
                        <li><a class="dropdown-item" href="/view-vaccination-records">View Vaccination Records</a></li>
                        <li><a class="dropdown-item" href="/view-treatment-plan">View Treatment Plan</a></li>
<!--                        <li><a class="dropdown-item" href="/prescription-management">Prescription Management</a></li>-->
                        <li><a class="dropdown-item" href="/view-prescription">View Prescription</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" th:if="${loggedInUser != null && userType == 'Vet'}">
                    <button class="nav-link dropdown-toggle" id="dropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Medical Access
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="/edit-medical-record">Upload Medical Record</a></li>
                        <li><a class="dropdown-item" href="/edit-vaccination-record">Upload Vaccination Records</a></li>
                        <li><a class="dropdown-item" href="/edit-treatment-plan">Upload Treatment Plan</a></li>
                        <li><a class="dropdown-item" href="/edit-prescription">Upload Prescription</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:if="${loggedInUser != null}">
                    <a class="nav-link" href="/account">Dashboard</a>
                </li>
                <li class="nav-item" th:if="${loggedInUser != null}">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                </li>
                <li class="nav-item dropdown notification-ui" th:if="${loggedInUser != null}">
                    <a class="nav-link dropdown-toggle notification-ui_icon" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <!--<span class="unread-notification"></span>-->
                        <span class="badge unread-notification" th:if="${#lists.size(upcomingAppointments) > 0}" th:text="${#lists.size(upcomingAppointments)}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-end" aria-labelledby="navbarDropdown" style="width: 400px;">
                        <div class="notification-ui_dd-header">
                            <h3 class="text-center">Notifications</h3>
                        </div>
                        <div class="notification-ui_dd-content">
                            <div th:if="${#lists.isEmpty(upcomingAppointments)}">
                                <p class="text-center">No upcoming appointments</p>
                            </div>
                            <div th:each="appointment : ${upcomingAppointments}">
                                    <div class="px-4 notification" style="font-size: 1rem">
                                        <b>Upcoming Appointment for </b>
                                            <span th:each="pet : ${pets}"
                                                  th:if="${pet.petID == appointment.petId}"
                                                  th:text="${pet.name}">
                                            </span>
                                        <br>
                                        <small th:text="${appointment.appointmentDate}"></small> at <small th:text="${appointment.appointmentTime}"></small>
                                    </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" th:if="${loggedInUser == null}">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="content">
    <div class="main-content">
        <div layout:fragment="content">
            <!-- content -->
        </div>
    </div>
</div>

<footer class="container-fluid text-center py-3 mt-5 footer-style">
    <div class="row">
        <div class="col-md-4">
            <p>Contact Us: +123 456 789</p>
        </div>
        <div class="col-md-4">
            <p>© 2024 VetCare. All rights reserved.</p>
        </div>
        <div class="col-md-4">
            <p>Follow Us:
                <a href="#" class="social-icon">Facebook</a> |
                <a href="#" class="social-icon">Instagram</a> |
                <a href="#" class="social-icon">Twitter</a>
            </p>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</body>
</html>