<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/BookApp.css}">

</head>
<body>
<!-- Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" aria-labelledby="addPetModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPetModalLabel">Add New Pet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/pets/register}" method="post" id="add-pet-form">
                    <div class="form-group">
                        <label for="petName">Pet Name:</label>
                        <input type="text" class="form-control" id="petName" name="name"
                               placeholder="Enter pet name" required>
                    </div>
                    <div class="form-group">
                        <label for="petAge">Pet Age:</label>
                        <input type="number" class="form-control" id="petAge" name="age"
                               placeholder="Enter pet age" required>
                    </div>
                    <div class="form-group">
                        <label for="petGender">Pet Gender:</label>
                        <select class="form-control" id="petGender" name="gender" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="petWeight">Pet Weight:</label>
                        <input type="weight" class="form-control" id="petWeight" name="weight"
                               placeholder="Enter pet weight" required>
                    </div>
                    <div class="form-group">
                        <label for="petBreed">Pet Breed:</label>
                        <input type="text" class="form-control" id="petBreed" name="breed"
                               placeholder="Enter pet breed" required>
                    </div>
                    <div class="form-group">
                        <label for="petBirthDate">Birth Date:</label>
                        <input type="date" class="form-control" id="petBirthDate"
                               name="birthDate" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
