<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>ViewVaccinationRecords</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="text-center">[Pet name] Vaccination Records</h2>
    <div class="table-container d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Vaccination Name</th>
                <th scope="col">Purpose</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Feline Leukemia Vaccine</td>
                <td>Otto</td>
                <td>2/7/24</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Rabies Vaccine</td>
                <td>Thornton</td>
                <td>2/7/24</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Chlamydia Vaccine</td>
                <td>Thornton</td>
                <td>15/8/24</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>