<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <meta charset="UTF-8">
  <title>View Treatment Plan</title>
</head>
<body>
<div layout:fragment="content">
  <h2 class="text-center">[Pet name] Treatment Plan</h2>
  <div class="table-container d-flex justify-content-center">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" style="width: 33%;">Treatment Plan Number</th>
      <th scope="col" style="width: 67%;">[1]</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" style="width: 33%;">Diagnosis/Conditions</th>
      <td style="width: 67%;">Mark</td>
    </tr>
    <tr>
      <th scope="row" style="width: 33%;">Prescriptions/Vaccinations</th>
      <td style="width: 67%;">Otto</td>
    </tr>
    <tr>
      <th scope="row" style="width: 33%;">Dose</th>
      <td style="width: 67%;">@mdo</td>
    </tr>
    <tr>
      <th scope="row" style="width: 33%;">Repeats</th>
      <td style="width: 67%;">Mark</td>
    </tr>
    <tr>
      <th scope="row" style="width: 33%;">Lengths of treatment</th>
      <td style="width: 67%;">Otto</td>
    </tr>
    <tr>
      <th scope="row" style="width: 33%;">Notes</th>
      <td style="width: 67%;">@mdo</td>
    </tr>
    <tr>
      <th scope="row" style="width: 33%;">Date</th>
      <td style="width: 67%;">05/09/2024</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
</html>